.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(to right,#130f40, #000000);
  font-family: 'Architects Daughter', cursive;
  font-size: 1.2vw;
  padding: 1px 1px;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
}

.icon {
  color: #fc5296;
  transform: scale(1.8);
  padding: 0 20px;
}